@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  background: #131313;
  color: #fcfcfc;
  scroll-behavior: smooth;
}

#banner {
  text-align: center;
  position: relative;
}

#banner .banner-head {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

#banner .banner-head--fixed {
  position: fixed;
}

#banner .banner-head--leave {
  top: unset;
  bottom: 0;
}

#banner .banner-head--sticky {
  position: -webkit-sticky;
  position: sticky;
}

#banner .banner-logo {
  height: 220px;
}

@media (max-width: 1024px) {
  #banner .banner-logo {
    min-height: 35vh;
  }
}

@media (max-width: 767px) {
  #banner .banner-logo {
    height: 80px;
  }
}

#banner .banner-space {
  height: 260px;
}

@media (max-width: 1024px) {
  #banner .banner-space {
    min-height: 35vh;
  }
}

@media (max-width: 767px) {
  #banner .banner-space {
    height: 80px;
  }
}

#banner .button-down {
  width: clamp(45px, 3.64583vw, 70px);
  height: clamp(45px, 3.64583vw, 70px);
  margin: 0 auto 44px;
  background: #fcfcfc;
  color: #131313;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .8;
  cursor: pointer;
}

#banner .title-container {
  width: 100%;
  padding: 0 0 165px;
  margin: -354px 0 0;
}

#banner .title {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.33333;
}

#banner .title-banner {
  padding: 0 0 8px;
}

#banner .title-item {
  padding: 0 0 8px;
  color: #78be83;
  opacity: 1;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

#banner .title-item--noShow {
  opacity: 0 !important;
}

#banner .title-item--show {
  opacity: 1;
}

#banner .title-item:nth-child(2) {
  opacity: 0.5;
}

#banner .title-item:nth-child(3) {
  opacity: 0.1;
}

#banner .title-item:nth-child(4) {
  opacity: 0.02;
}

#img-parallax {
  height: 100vw;
  min-height: 100vh;
  background: #fff3;
}
