$bg-main: #131313;
$white: #fcfcfc;
$color-main: #78be83;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  background: $bg-main;
  color: $white;
  scroll-behavior: smooth;
}

#banner {
  text-align: center;
  position: relative;

  .banner-head {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;

    &--fixed {
      position: fixed;
    }

    &--leave {
      top: unset;
      bottom: 0;
    }

    &--sticky {
      position: sticky;
    }
  }

  .banner-logo {
    height: 220px;

    @media (max-width:1024px) {
      min-height: 35vh;
    }

    @media (max-width:767px) {
      height: 80px;
    }
  }

  .banner-space {
    height: 260px;

    @media (max-width:1024px) {
      min-height: 35vh;
    }

    @media (max-width:767px) {
      height: 80px;
    }
  }

  .button-down {
    width: clamp(45px, (70/1920)*100vw, 70px);
    height: clamp(45px, (70/1920)*100vw, 70px);
    margin: 0 auto 44px;
    background: $white;
    color: $bg-main;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
    cursor: pointer;
  }

  .title-container {
    width: 100%;
    // padding: (220+134)*1px 0 220px;
    padding: 0 0 165px;
    margin: (220+134)*-1px 0 0;

    // @media (max-width:1024px) {
    //   padding: (359+128)*1px 0 359px;
    //   padding: 0 0 165px;
    //   margin: (359+134)*-1px 0 0;
    // }

    // @media (max-width:767px) {
    //   padding: (233+69)*1px 0 233px;
    //   padding: 0 0 165px;
    //   margin: (233+69)*-1px 0 0;
    // }
  }

  .title {
    font-size: 100px;
    font-weight: 700;
    line-height: (160/120);

    // @media (max-width:1024px) {
    //   font-size: 90px;
    // }

    // @media (max-width:767px) {
    //   font-size: 46px;
    // }

    &-banner {
      padding: 0 0 8px;
    }

    &-item {
      padding: 0 0 8px;
      color: $color-main;
      opacity: 1;
      transition: transform 0.5s, opacity 0.5s;

      &--noShow {
        opacity: 0 !important;
      }

      &--show {
        opacity: 1;
      }

      &:nth-child(2) {
        opacity: 0.5;
      }

      &:nth-child(3) {
        opacity: 0.1;
      }

      &:nth-child(4) {
        opacity: 0.02;
      }

    }
  }
}

#img-parallax {
  height: 100vw;
  min-height: 100vh;
  background: #fff3;
}